footer
  .container.text-center
    p.pull-left © 2015 Wave, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/davidawad') GitHub Project
      li
        a(href='https://github.com/davidawad/issues') Issues
