extends layout

block content
  h1 Waves
  p.lead A new experience in the form of a Node.js web application.
  hr
  .row
    .col-sm-12
      h2 Life
      p The condition that distinguishes animals and plants from inorganic matter, including the capacity for growth, reproduction, functional activity, and continual change preceding death. Let us always cherish all but this. Why are we here, what is life all about? Is God really real, or is there some doubt? Well tonight we're going to sort it all out, For tonight it's the Meaning of Life. What's the point of all these hoax? Is it the chicken and egg time, are we all just yolks? Or perhaps, we're just one of God's little jokes, Well ca c'est the Meaning of Life. Is life just a game where we make up the rules While we're searching for something to say Or are we just simple spiralling coils Of self-replicating DNA? What is life? What is our fate? Is there Heaven and Hell? Do we reincarnate? Is mankind evolving or is it too late? Well tonight here's the Meaning of Life. For millions this life is a sad vale of tears Sitting round with really nothing to say While scientists say we're just simply spiralling coils Of self-replicating DNA. So just why, why are we here? And just what, what, what, what do we fear? Well ce soir, for a change, it will all be made clear, For this is the Meaning of Life - c'est le sens de la vie - This is the Meaning of Life.
      p
        a.btn.btn-default(href='#', role='button') View details »

    .col-sm-12
      h2 Learn to use your brain waves to teach you about yourself. 
